@using GrToolBox.Data.Nmea
@using GritZ3.Classes
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib


<div>
    <PlotlyChart @bind-Config="config_LS" @bind-Layout="layout_LS" @bind-Data="data_LS" @ref="chart_LS"/>
    <PlotlyChart @bind-Config="config_KF" @bind-Layout="layout_KF" @bind-Data="data_KF" @ref="chart_KF"/>
</div>



