@using GritZ3.Classes
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib


<div>
    <PlotlyChart @bind-Config="config" @bind-Layout="layout_EN" @bind-Data="data_EN" @ref="chart_EN"/>
</div>

@code {

}
